@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <a href="~/Zaposlenis" class="btn btn-primary btn-block">Zaposleni</a>
    <a href="~/Zahtevis" class="btn btn-primary btn-block">Zahtevi</a>

    </div>
   